.app__header {
  margin-bottom: 5rem;
}

.logo {
  font-size: 1.9rem;
}

.app__header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__header ul {
  list-style: none;
}

.nav__links {
  display: flex;
  gap: 3rem;
  font-size: 1.1rem;
  padding: 0.3rem;
}

.nav__links li a {
  text-decoration: none;
  color: black;
  padding: 0.45rem 1rem;
}

.nav__links li a:hover {
  background-color: var(--primary-color);
}
